/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 *Tuts Form Wrap Styles

*/

.tuts-login-form { 
	
	background-color: #D7D1D1;
	display: block;
	border: 1px solid #E7E9EB;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    font-family: arial;
     
}

/*

Tuts Form Heading

*/

.tuts-login-heading {
 
	padding-bottom: 60px;

}

.tuts-login-heading > img {
	
 	float:left; 
	width:42px ; 
	height:40px;
	
}

.tuts-login-heading > h2 {
	
	float:left; 
	
	padding-left:15px;
	
	font-family: arial;
    
    font-weight: 900; 
	
	font-size:28px;
    
    margin: 0 0 20px;
    
    text-transform: capitalize;

}

/*

Tuts Form Text Styles

*/
.tuts-txt {
    
    display: block;
    
    margin: 0 0 20px;
    
}

.tuts-txt:after {
    
    clear:both;
    
    display:block;
    
    overflow:hidden;
    
    content:"";
    
}
.tuts-txt > label {

    width: 180px;

}


.tuts-txt > input[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: #a0d18c;  
	 padding: 15px 5px;
     float: left; 
     width: 100%;	
     font-size: 24px;
	 font-weight: 400;
}

.tuts-txt > input[type=text]:focus {
     outline: none;
     border: 1px solid #a0d18c;
     color: #2d9fd9;
}

.tuts-txt > input::placeholder {
	padding-left: 10px;
  	font-style: italic;
}
/*


Tuts Form Button

*/

.tuts-login-form .button {

    background: #000 none repeat scroll 0 0;
    
    border: 1px solid #ccc;
    
    border-radius: 0; text-transform:uppercase; font-size:15px;font-family: arial;
    
    padding: 10px 20px;

}

.tuts-login-form .button:hover {
    
    background: #525252 none repeat scroll 0 0;
    
    border: 1px solid #000;
    
    border-radius: 0;
    
    padding: 10px 20px;
}

.tuts-registration-form .error {

    color:red;
    
    margin-bottom: 18px;

}

#response_area {
	font-family: Iskoola Pota;
	font-size: 32px;
	font-weight: 900;
	padding-top: 20px;
	color:#076320;

}



/********* End of Tuts Stylesheet *************/